// Layout styles
.u-center {
  margin: 0 auto;
}


/* Grid
------------------------------------------------------------------------------*/
.column-example {
  height: 100px;
  background-color: #1b1b1b;
  text-align: center;
  padding: 40px;
  font-family: @font-sans;
}


/* Elements
------------------------------------------------------------------------------*/
.elements {
  background-image: url('../assets/elements.png');
  background-repeat: no-repeat;
  background-position: center, center;
  width: 100%;
  height: 200px;
}

.header {
  z-index: 10;
  position: relative;
}

.articleBox-introduction:after {
  content: "";
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: @bekk-red;
  display: block;
}

.elementContainer {
  display: flex;
  justify-content: space-around;

  min-height: 120px;
}




.exampleCircles {
  display: flex;
  justify-content: space-between;
}

.exampleElement--dash {
  width: 100px;
  height: 5px;

  position: relative;
  top: 45px;
}

.exampleElement--circles {
  position: relative;
  top: 20px;

  .colorCircle-smaller {
    margin: 10px;
    float: left;
  }
}

.exampleElement--circle {
  position: relative;
  top: 20px;
}

.exampleContainer {
  margin-bottom: 55px;
}

.exampleElement {
  margin: 25px 0;
  padding: 15px;
}

  .exampleElement--group {
    display: flex;
    justify-content: space-between;
  }

  .exampleElement--feedback {
    display: relative;
    height: 150px;
  }

   .exampleElement--newsWidget {
    max-width: 300px;
  }

  .exampleElement--cvWidget {
    display: relative;
    height: 330px;
  }

  .exampleElement--noSpaceAround {
    margin: 0;
    padding: 0 15px 15px 15px;
  }

.exampleCode {
  margin: 15px -15px -15px -15px;
  padding: 15px 25px;
  color: @bekk-sepiaLight;
  overflow: scroll;
}


/* Default styles for sections
------------------------------------------------------------------------------*/
#typography,
#logo,
#colors {
  img {
    width: 100%;
    height: 100%;
  }
}

section {
  margin: 120px 0;

  &:first-child {
    margin-top: 20px;
  }
}

p.p-download {
  margin-left: 60px;
  font-family: @font-sans;
  font-size: @font-size-button;
}

.btn {
  &.hover,
  &.focus {
    background: @bekk-red;
    border-color: @bekk-red;
  }
}



/* Typography
------------------------------------------------------------------------------*/
.typoHeaders {
  margin-bottom: 55px;
  font-family: @font-sans;

  ul {
    list-style: none;
    margin: 0;
  }

  .exampleCode {
    padding: 0;
    margin: 0;
  }
}

.typo-row {
  border-bottom: 1px solid @color-darkGray;
  margin-bottom: 55px;

  &:last-of-type {
    border: none;
  }
}

.typo-chars {
  width: 100%;
}

.typo-char {
  font-size: 20px;
  float: left;
  width: 8.33%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid @color-darkGray;
  border-left: 1px solid @color-darkGray;
  text-align: center;
}

  .typo-char:first-child {
    border-left: none;
  }

.typo-line {
  width: 100%;
  height: 50px;
}

  .typo-line:last-child .typo-char {
    border-bottom: none;
  }

.typo-header {
  font-size: 6rem;
  margin-bottom: 10px;
}


/* Images
------------------------------------------------------------------------------*/
#images {
  .u-col1 {
    flex: 0 0 22.722%;
  }

  .u-col2 {
    flex: 0 0 50%;

    .u-col2 {
      flex: 0 0 48%;
    }
  }

  .exampleImage-circleRow.u-col1 {
    flex: 0 0 24%;
  }
}

.exampleImage {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.exampleImage-circleRow {
  .u-row {
    justify-content: space-around;

    img { width: 66%; }
  }
}


.resources {
  border: 3px solid @color-darkGray;
  padding: 20px 25px;

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
